GEMINI_API_KEY=TU_API_KEY_REAL_AQUI
GEMINI_MODEL=gemini-2.5-flash
FRONTEND_URL=http://localhost:5173

FIREBASE_PROJECT_ID=tu_project_id_de_firebase
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

ALLOW_DEV_AUTH=true