GEMINI_API_KEY=tu_api_key_de_google_ai_studio_aqui
FRONTEND_URL=http://localhost:5173
GEMINI_MODEL=gemini-2.5-flash

FIREBASE_PROJECT_ID=tu_project_id_de_firebase
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

ALLOW_DEV_AUTH=false